////////////// Form mixins ////////////////
@mixin input_fields($height: 3em, $padding: 6, $font-size: $large_point_size) {
  border: 1px solid $form_field_border;
  background: $form_field_background_color;
  font-size: em($font-size);
  height: $height;
  @include grid(12.25, alphaomega, $grid_padding_l:$padding, $grid_padding_r:$padding);
  @include input_placeholder($placeholder_text);

  @include field_focus;
  color: $form_field_text;
  + .horizontal_selectors {
    margin-top: -0.5em;
  }
}

@mixin field_focus {
  &:hover {
    border-color: $form_field_focus_border_color;
  }
  &:focus {
    background-color: $form_field_focus_color;
    border-color: $form_field_focus_border_color;
    outline: none;
  }
}



@mixin alert_boxes ($background_color, $padding_tb: $grid_padding_tb, $padding_l: $grid_padding_l, $padding_r: $grid_padding_r, $margin_bottom: 0) {
  background-color: $background_color;
  @include grid(12.25, $grid_uom:combo, $grid_child: alphaomega, $grid_padding_l: $padding_l, $grid_padding_r: $padding_r);
  padding-top: #{$padding_tb / $em}em;
  padding-bottom: #{$padding_tb / $em}em;
  margin-bottom: #{$margin_bottom / $em}em;
}
