//
// Standardized grid objects.  NOT to be used as classes appended to a block in the HTML.
// Preferred uses include @extend .class; or repurpose the mixin within the class.
//

// grid ----------------------
%grid_display {
  margin-bottom: 1em;
  text-align: center;
  padding: em(10) 0;
  @include box_shadow (inset $shadow_color, 0 0 em(20) em(10));
}


%grid_1 {
  @include grid(1);
  @media #{$tablet_portrait} {
    @include grid(1, $grid_context: 10);
  }
  @media #{$mobile} {
    @include grid(1, $grid_context: 4);
  }
}

%grid_2 {
  @include grid(2);
  @media #{$tablet_portrait} {
    @include grid(2, $grid_context: 10);
  }
  @media #{$mobile} {
    @include grid(2, $grid_context: 4);
  }
}

%grid_3 {
  @include grid(3);
  @media #{$tablet_portrait} {
    @include grid(3, $grid_context: 10);
  }
  @media #{$mobile} {
    @include grid(3, $grid_context: 4);
  }
}

%grid_4 {
  @include grid(4);
  @media #{$tablet_portrait} {
    @include grid(4, $grid_context: 10);
  }
  @media #{$mobile} {
    @include grid(4, $grid_context: 4);
  }
}

%grid_5 {
  @include grid(5);
  @media #{$tablet_portrait} {
    @include grid(5, $grid_context: 10);
  }
  @media #{$mobile} {
    @include grid(4, $grid_context: 4);
  }
}

%grid_6 {
  @include grid(6);
  @media #{$tablet_portrait} {
    @include grid(6, $grid_context: 10);
  }
  @media #{$mobile} {
    @include grid(4, $grid_context: 4);
  }
}

%grid_7 {
  @include grid(7);
  @media #{$tablet_portrait} {
    @include grid(7, $grid_context: 10);
  }
  @media #{$mobile} {
    @include grid(4, $grid_context: 4);
  }
}

%grid_8 {
  @include grid(8);
  @media #{$tablet_portrait} {
    @include grid(8, $grid_context: 10);
  }
  @media #{$mobile} {
    @include grid(4, $grid_context: 4);
  }
}

%grid_9 {
  @include grid(9);
  @media #{$tablet_portrait} {
    @include grid(9, $grid_context: 10);
  }
  @media #{$mobile} {
    @include grid(4, $grid_context: 4);
  }
}

%grid_10 {
  @include grid(10);
  @media #{$tablet_portrait} {
    @include grid(10, $grid_context: 10);
  }
  @media #{$mobile} {
    @include grid(4, $grid_context: 4);
  }
}

%grid_11 {
  @include grid(11);
  @media #{$tablet_portrait} {
    @include grid(10, $grid_context: 10);
  }
  @media #{$mobile} {
    @include grid(4, $grid_context: 4);
  }
}

%grid_12 {
  @include grid(12);
  @media #{$tablet_portrait} {
    @include grid(10, $grid_context: 10);
  }
  @media #{$mobile} {
    @include grid(4, $grid_context: 4);
  }
}

%grid_full {
  @include full_width_block(12, $main_grid_align: left);
}

%grid_full_center {
  @include full_width_block(12);
}

// 24 col grid support --------------------
@for $i from 1 through 24 {
  %grid_#{$i}_24 {
    @include grid($i, $grid_type:24);
  }
}

// push ----------------------
@for $i from 1 through 12 {
  %push_12_#{$i} {
    @include push(12,$i);
  }
}

// suffix ----------------------
@for $i from 1 through 12 {
  %suffix_12_#{$i} {
    @include suffix(12,$i);
  }
}

// prefix ----------------------
@for $i from 1 through 12 {
  %prefix_12_#{$i} {
    @include prefix(12,$i);
  }
}

// push ----------------------
@for $i from 1 through 12 {
  %push_12_#{$i} {
    @include push(12,$i);
  }
}

// pull ----------------------
@for $i from 1 through 12 {
  %pull_12_#{$i} {
    @include pull(12,$i);
  }
}

// alpha / omega ----------------------

%alpha {
  @include alpha;
}

%omega {
  @include omega;
} 
