//
// Standardized grid objects.  NOT to be used as classes appended to a block in the HTML.
// Preferred uses include @extend .class; or repurpose the mixin within the class.
//

// grid ----------------------
@mixin grid_display {
  margin-bottom: 1em;
  text-align: center;
  padding: em(10) 0;
  @include box_shadow (inset $shadow_color, 0 0 em(20) em(10));
}

%grid_display {
  @include grid_display
}

@media #{$tablet_portrait} {
  %grid_display_tablet {
    @include grid_display
  }
}

@media #{$mobile} {
  %grid_display_mobile {
    @include grid_display
  }
}

// -------------------------------------
@for $i from 1 through 12 {
  %grid_#{$i}of12 {
    @include grid($i, $grid_context: 12);
  }
}

@media #{$tablet_portrait} {
  @for $i from 1 through 9 {
    %grid_#{$i}of9 {
      @include grid($i, $grid_context: 9);
    }
  }
}

@media #{$mobile} {
  @for $i from 1 through 4 {
    %grid_#{$i}of4 {
      @include grid($i, $grid_context: 4);
    }
  }
}
// -------------------------------------



%grid_full {
  @include full_width_block(12, $main_grid_align: left);
}

%grid_full_center {
  @include full_width_block(12);
}

// 24 col grid support --------------------
@for $i from 1 through 24 {
  %grid_#{$i}_24 {
    @include grid($i, $grid_type:24);
  }
}

// push ----------------------
@for $i from 1 through 12 {
  %push_12_#{$i} {
    @include push(12,$i);
  }
}

// suffix ----------------------
@for $i from 1 through 12 {
  %suffix_12_#{$i} {
    @include suffix(12,$i);
  }
}

// prefix ----------------------
@for $i from 1 through 12 {
  %prefix_12_#{$i} {
    @include prefix(12,$i);
  }
}

// push ----------------------
@for $i from 1 through 12 {
  %push_12_#{$i} {
    @include push(12,$i);
  }
}

// pull ----------------------
@for $i from 1 through 12 {
  %pull_12_#{$i} {
    @include pull(12,$i);
  }
}

// alpha / omega ----------------------

%alpha {
  @include alpha;
}

%omega {
  @include omega;
}
