// expermintal media query support
// -----------------------------------------------------
$tablet:                    "screen and (max-width: 64em)" !default;
$tablet_portrait:           "screen and (max-width: 50em) and (orientation: portrait)" !default;
$tablet_landscape:          "screen and (max-width: 50em) and (orientation: landscape)" !default;

$mobile:                    "screen and (max-width: 30em)" !default;
$mobile_portrait:	          "screen and (max-width: 30em) and (orientation : portrait)" !default;
$mobile_landscape:	        "screen and (max-width: 30em) and (orientation : landscape)" !default; 