// Zocial full (paid), Sorted A-Z
$ico-placement: before !default;
%zocial_font                                  { font-family: 'zocial'; }

%zocial-amazon:#{$ico-placement}              { content: "a"; @extend %zocial_font; }
%zocial-android:#{$ico-placement}             { content: "&"; @extend %zocial_font; }
%zocial-aol:#{$ico-placement}                 { content: "\""; @extend %zocial_font; }
%zocial-appstore:#{$ico-placement}            { content: "^"; @extend %zocial_font; }
%zocial-chrome:#{$ico-placement}              { content: "["; @extend %zocial_font; }
%zocial-cloudapp:#{$ico-placement}            { content: "c"; @extend %zocial_font; }
%zocial-creativecommons:#{$ico-placement}     { content: "C"; @extend %zocial_font; }
%zocial-disqus:#{$ico-placement}              { content: "Q"; @extend %zocial_font; }
%zocial-dribbble:#{$ico-placement}            { content: "D"; @extend %zocial_font; }
%zocial-dropbox:#{$ico-placement}             { content: "d"; @extend %zocial_font; }
%zocial-eventasaurus:#{$ico-placement}        { content: "v"; @extend %zocial_font; }
%zocial-eventbrite:#{$ico-placement}          { content: "|"; @extend %zocial_font; }
%zocial-evernote:#{$ico-placement}            { content: "E"; @extend %zocial_font; }
%zocial-facebook:#{$ico-placement}            { content: "f"; @extend %zocial_font; }
%zocial-flattr:#{$ico-placement}              { content: "%"; @extend %zocial_font; }
%zocial-forrst:#{$ico-placement}              { content: ":"; @extend %zocial_font; }
%zocial-foursquare:#{$ico-placement}          { content: "4"; @extend %zocial_font; }
%zocial-github:#{$ico-placement}              { content: "g"; @extend %zocial_font; }
%zocial-gmail:#{$ico-placement}               { content: "m"; @extend %zocial_font; }
%zocial-google:#{$ico-placement}              { content: "G"; @extend %zocial_font; }
%zocial-googleplus:#{$ico-placement}          { content: "+"; @extend %zocial_font; }
%zocial-gowalla:#{$ico-placement}             { content: "@"; @extend %zocial_font; }
%zocial-guest:#{$ico-placement}               { content: "?"; @extend %zocial_font; }
%zocial-html5:#{$ico-placement}               { content: "5"; @extend %zocial_font; }
%zocial-ie:#{$ico-placement}                  { content: "6"; @extend %zocial_font; }
%zocial-instapaper:#{$ico-placement}          { content: "I"; @extend %zocial_font; }
%zocial-intensedebate:#{$ico-placement}       { content: "{"; @extend %zocial_font; }
%zocial-itunes:#{$ico-placement}              { content: "A"; @extend %zocial_font; }
%zocial-lastfm:#{$ico-placement}              { content: "l"; @extend %zocial_font; }
%zocial-linkedin:#{$ico-placement}            { content: "L"; @extend %zocial_font; }
%zocial-meetup:#{$ico-placement}              { content: "M"; @extend %zocial_font; }
%zocial-openid:#{$ico-placement}              { content: "o"; @extend %zocial_font; }
%zocial-paypal:#{$ico-placement}              { content: "$"; @extend %zocial_font; }
%zocial-plancast:#{$ico-placement}            { content: "P"; @extend %zocial_font; }
%zocial-posterous:#{$ico-placement}           { content: "~"; @extend %zocial_font; }
%zocial-rss:#{$ico-placement}                 { content: "R"; @extend %zocial_font; }
%zocial-scribd:#{$ico-placement}              { content: "}"; @extend %zocial_font; }
%zocial-skype:#{$ico-placement}               { content: "S"; @extend %zocial_font; }
%zocial-smashingmag:#{$ico-placement}         { content: "*"; @extend %zocial_font; }
%zocial-songkick:#{$ico-placement}            { content: "k"; @extend %zocial_font; }
%zocial-soundcloud:#{$ico-placement}          { content: "s"; @extend %zocial_font; }
%zocial-spotify:#{$ico-placement}             { content: "%zocial-"; @extend %zocial_font; }
%zocial-tumblr:#{$ico-placement}              { content: "t"; @extend %zocial_font; }
%zocial-twitter:#{$ico-placement}             { content: "T"; @extend %zocial_font; }
%zocial-vimeo:#{$ico-placement}               { content: "V"; @extend %zocial_font; }
%zocial-wikipedia:#{$ico-placement}           { content: ","; @extend %zocial_font; }
%zocial-wordpress:#{$ico-placement}           { content: "w"; @extend %zocial_font; }
%zocial-yahoo:#{$ico-placement}               { content: "Y"; @extend %zocial_font; }
%zocial-yelp:#{$ico-placement}                { content: "y"; @extend %zocial_font; }
%zocial-youtube:#{$ico-placement}             { content: "U"; @extend %zocial_font; }