.main_content {
	@include full_width_block(12);
	
	article {
		@include grid(12, $grid_align: center, $grid_uom: em);
		@media #{$mobile} {
			@include grid(12, $grid_align: center);
		}
		section {
			clear: both;
			&:nth-of-type(1n+2) {
				border-top: 1px dotted;
				padding-top: em(20);
			}
		}
	}
	.element_example {
		margin-bottom: em(20);
	}

}

.mobi_hidden {
	@media #{$mobile} {
		display: none;
	}
}

code {
	border: 1px solid;
	padding: em(2) em(5);
}