// Toadstool core v0.0.0.1
// This document is not to be edited as it will be versioned
// -----------------------------------------------------------------


// All google font includes are placed in the RESET.SCSS file
// -----------------------------------------------------------
//@import "../config_files/text";


//////// heading text mixin //////////
// ------------------------------------------------
@mixin heading ($heading_font_size: $heading_1, $family: $heading_font_family, $color: $primary_header_color, $font_weight: normal) {
	font-size: #{$heading_font_size / $em}em;
	color: $color;
	line-height: #{($line / $heading_font_size) * ceil($heading_font_size / $line)}em;
	margin-bottom: #{$line / $heading_font_size}em;
	font-weight: $font_weight;
	font-family: $family;
}


/////// text arguments w/baseline rythem //////////
// -----------------------------------------------------
@mixin text ($baseline_size, $margin: auto) {
	font-size: #{$baseline_size / $em}em;
	line-height: #{($line / $baseline_size) * ceil($baseline_size / $line)}em;

	@if $margin == auto {
		margin-bottom: #{$line / $baseline_size}em;
	}
	@else if $margin == 0 {
		margin-bottom: 0;
	}
}
/////// text arguments //////////

//////// standard text mixins //////////
// ------------------------------------------------


@mixin small ($baseline_size: $small_point_size) {
	@include text($baseline_size);
}

@mixin medium ($baseline_size: $font_size) {
	@include text($baseline_size);
}

@mixin large ($baseline_size: $large_point_size) {
	@include text($baseline_size);
}

//////// standard text mixins //////////




////////// Standard bulleted list //////////////
// --------------------------------------------
@mixin bulleted_list {
	ul {
		list-style: disc;
		margin: 0 0 1.5em #{20 / $em}em;
		&:last-child {
			margin-bottom: 0;
		}
	}
	li {
		float: none;
		margin-bottom: 1em;
		&:last-child {
			margin-bottom: 0;
		}
	}
}
////////// Standard bulleted list //////////////