// Toadstool core v0.0.0.1
// This document is not to be edited as it will be versioned
// -----------------------------------------------------------------


// All google font includes are placed in the RESET.SCSS file
// -----------------------------------------------------------
//@import "../config_files/text";


//////// heading text mixin //////////
// ------------------------------------------------
@mixin heading ($baseline_size: $heading_1, $family: $heading_font_family, $color: $primary_header_color, $font_weight: normal) {
	font-size: em($baseline_size);
	line-height: baseline($baseline_size);
	margin-bottom: baseline-margin($baseline_size);
	color: $color;
	font-weight: $font_weight;
	font-family: $family;
}


/////// text arguments w/baseline rythem //////////
// -----------------------------------------------------
@mixin text ($baseline_size, $margin: auto) {
	font-size: em($baseline_size);
	line-height: baseline($baseline_size);

	@if $margin == auto {
		margin-bottom: baseline-margin($baseline_size);
	}
	@else if $margin == 0 {
		margin-bottom: 0;
	}
}



//////// standard text mixins //////////
// ------------------------------------------------
@mixin small ($baseline_size: $small_point_size) {
	@include text($baseline_size);
}

@mixin medium ($baseline_size: $font_size) {
	@include text($baseline_size);
}

@mixin large ($baseline_size: $large_point_size) {
	@include text($baseline_size);
}




////////// Standard bulleted list //////////////
// --------------------------------------------
@mixin bulleted_list {
	ul {
		list-style: disc;
		margin: 0 0 1.5em em(20);
		&:last-child {
			margin-bottom: 0;
		}
	}
	li {
		float: none;
		margin-bottom: 1em;
		&:last-child {
			margin-bottom: 0;
		}
	}
}