// Toadstool's view
// ----------------------------------------------
.colorcode {
	margin-bottom: 2.5em;
	@extend %clearfix;
	@media #{$mobile} {
		@include grid(4, $grid_context: 4);
	}
	.toadstool_subheader {
		margin-bottom: 1em;
	}
	section {
		padding: em(10) 0 0 em(10);
		margin: em(-10) 0 0 em(-10);
	}
	div {
		@include box_sizing;
		width: 60%; 
		float: left;
		font-weight: bold;
		width: em(100);
		height: em(100);
		border-radius: 50%;
		margin: 0 0 em(20) 0;
		margin-right: 22%;
		border: 1px solid $white;
		box-shadow: 0 0 em(10) em(3) $shadow_color;
		span {
			display: inline-block;
			font-weight: normal;
		}
	}
	p {
		position: relative; 
		left: 120%; 
		margin-top: 20%;
		margin-bottom: 0;
		width: 50%;
	}
	.border {
		@include box_shadow (inset $alpha_gray, 0 0 1px);
	}
	@media #{$mobile} {
		div {
			width: 100%;
			border-radius: 0;
			margin-bottom: em(10);
			box-shadow: 0 0 em(5) em(0) $shadow_color;
			span {
				display: block;
				margin: 0;
			}
		}
		section {
			position: relative;
			top: em(-10);
		}
		p {
			color: white;
			left: 0;
			margin: em(10) 0 em(10) em(10);
			line-height: 1.5em;
			text-shadow: 2px 2px 4px black;
		}
	}
}


/////// OOCSS color blocks ////////
// ----------------------------------------------

// //* Standard grayscale objects */
// //* -------------------------- */
.white {
	@extend %white;
}

.alpha_gray {
	@extend %alpha_gray;
}

.bravo_gray {
	@extend %bravo_gray;
}
	
.charlie_gray {
	@extend %charlie_gray;
}

.delta_gray {
	@extend %delta_gray;
}
	
.echo_gray {
	@extend %echo_gray;
}
	
.fox_gray {
	@extend %fox_gray;
}

.golf_gray {
	@extend %golf_gray;
}

.hotel_gray {
	@extend %hotel_gray;
}

.india_gray {
	@extend %india_gray;
}



//* Standard color objects */
//* ---------------------- */
.alpha_color {
	@extend %alpha_color;
}
.alpha_color_bravo {
	@extend %alpha_color_bravo;
}
.alpha_color_charlie {
	@extend %alpha_color_charlie;
}
.alpha_color_delta {
	@extend %alpha_color_delta;
}
.alpha_color_echo {
	@extend %alpha_color_echo;
}
.alpha_color_fox {
	@extend %alpha_color_fox;
}
.alpha_color_golf {
	@extend %alpha_color_golf;
}
.alpha_color_hotel {
	@extend %alpha_color_hotel;
}
.alpha_color_india {
	@extend %alpha_color_india;
}
.alpha_color_juliet {
	@extend %alpha_color_juliet;
}





.bravo_color {
	@extend %bravo_color;
}
.bravo_color_bravo {
	@extend %bravo_color_bravo;
}
.bravo_color_charlie {
	@extend %bravo_color_charlie;
}
.bravo_color_delta {
	@extend %bravo_color_delta;
}
.bravo_color_echo {
	@extend %bravo_color_echo;
}
.bravo_color_fox {
	@extend %bravo_color_fox;
}
.bravo_color_golf {
	@extend %bravo_color_golf;
}
.bravo_color_hotel {
	@extend %bravo_color_hotel;
}
.bravo_color_india {
	@extend %bravo_color_india;
}
.bravo_color_juliet {
	@extend %bravo_color_juliet;
}





	
.charlie_color {
	@extend %charlie_color;
}
.charlie_color_bravo {
	@extend %charlie_color_bravo;
}
.charlie_color_charlie {
	@extend %charlie_color_charlie;
}
.charlie_color_delta {
	@extend %charlie_color_delta;
}
.charlie_color_echo {
	@extend %charlie_color_echo;
}
.charlie_color_fox {
	@extend %charlie_color_fox;
}
.charlie_color_golf {
	@extend %charlie_color_golf;
}
.charlie_color_hotel {
	@extend %charlie_color_hotel;
}
.charlie_color_india {
	@extend %charlie_color_india;
}
.charlie_color_juliet {
	@extend %charlie_color_juliet;
}





	
.delta_color {
	@extend %delta_color;
}
.delta_color_bravo {
	@extend %delta_color_bravo;
}
.delta_color_charlie {
	@extend %delta_color_charlie;
}
.delta_color_delta {
	@extend %delta_color_delta;
}
.delta_color_echo {
	@extend %delta_color_echo;
}
.delta_color_fox {
	@extend %delta_color_fox;
}
.delta_color_golf {
	@extend %delta_color_golf;
}
.delta_color_hotel {
	@extend %delta_color_hotel;
}
.delta_color_india {
	@extend %delta_color_india;
}
.delta_color_juliet {
	@extend %delta_color_juliet;
}





	
.echo_color {
	@extend %echo_color;
}
.echo_color_bravo {
	@extend %echo_color_bravo;
}
.echo_color_charlie {
	@extend %echo_color_charlie;
}
.echo_color_delta {
	@extend %echo_color_delta;
}
.echo_color_echo {
	@extend %echo_color_echo;
}
.echo_color_fox {
	@extend %echo_color_fox;
}
.echo_color_golf {
	@extend %echo_color_golf;
}
.echo_color_hotel {
	@extend %echo_color_hotel;
}
.echo_color_india {
	@extend %echo_color_india;
}
.echo_color_juliet {
	@extend %echo_color_juliet;
}


/////// semantic color blocks ////////
// ----------------------------------------------
.white {
	@extend %white;
}

.shadow_color {
	@extend %shadow_color;
}

.primary_header_color {
	@extend %primary_header_color;
}

.heading_font_weight {
	@extend %heading_font_weight;
}

.primary_text {
	@extend %primary_text;
}

.secondary_text {
	@extend %secondary_text;
}

.href_color {
	@extend %href_color;
}

.ins_color {
	@extend %ins_color;
}

.mark_color {
	@extend %mark_color;
}

.webkit_tap_hightlight {
	@extend %webkit_tap_hightlight;
}

.selection_color {
	@extend %selection_color;
}

.selection_text_color {
	@extend %selection_text_color;
}

.border_color {
	@extend %border_color;
}

.primary_button_border_color {
	@extend %primary_button_border_color;
}

.secondary_button_border_color {
	@extend %secondary_button_border_color;
}

.button_text {
	@extend %button_text;
}

.standard_hr_color {
	@extend %standard_hr_color;
}
